<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>


<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>com.revature.servlets.LoginServlet</servlet-class>

</servlet>

<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/login</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>RegisterServlet</servlet-name>
	<servlet-class>com.revature.servlets.RegisterServlet</servlet-class>

</servlet>

<servlet-mapping>
	<servlet-name>RegisterServlet</servlet-name>
	<url-pattern>/register</url-pattern>

</servlet-mapping>

<servlet>
	<servlet-name>UserAccount</servlet-name>
	<servlet-class>com.revature.servlets.UserAccount</servlet-class>
	<load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
	<servlet-name>UserAccount</servlet-name>
	<url-pattern>/useraccount</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AccountMenu</servlet-name>
	<servlet-class>com.revature.servlets.AccountMenu</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>AccountMenu</servlet-name>
	<url-pattern>/accountmenu</url-pattern>
</servlet-mapping>

<error-page>
	<error-code>404</error-code>
	<location>/error</location>
</error-page>

</web-app>